{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zeesho Admin</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="{% static 'csss/style.css' %}">
    <link rel="stylesheet" href="{% static 'admin_nav/style.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css">
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"> -->
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

	<script type="text/javascript">
		var jQuery_1_7_1 = $.noConflict(true);
	</script>

	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <style>
      .datepickers {
        width: 100%;
      }
    
      .datepickers .label-control {
        font-size: 14px;
      }
    
      .datepickers .form-control {
        padding-left: 20px;
        padding-right: 20px;
        height: 50px !important;
        border-radius: 40px;
        border: none !important;
        -webkit-box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.09) !important;
        -moz-box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.09) !important;
        box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.09) !important;
      }
    
      .datepickers .form-control:focus {
        border-radius: 40px;
        -webkit-box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.14) !important;
        -moz-box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.14) !important;
        box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.14) !important;
      }
    </style>

  </head>


  <body>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light " id="ftco-navbar" >
	    <div class="container">
	    
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="fa fa-bars"></span> Menu
	      </button>
				<!-- <div class="searchform order-lg-last">
          
          <div class="form-group d-flex ">
            <input type="text" name="s" class="form-control pl-3" placeholder="Search">
            <button type="submit" placeholder="" class="form-control search"><span class="fa fa-search"></span></button>
          </div>
        </div> -->
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav mr-auto">
	        	<li class="nav-item active"><a href="#" class="nav-link">Admin</a></li>
	        	<li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Page</a>
              <div style="text-transform: uppercase;" class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="DashBoard">Dash Board</a>
                <a class="dropdown-item" href="admin_users">Users</a>
                <a class="dropdown-item" href="product_details">Products</a>
                <a class="dropdown-item" href="category">Category</a>
                <a class="dropdown-item" href="order_details">Orders</a>
                <a class="dropdown-item" href="SalesReport">Sales Report</a>
                <a class="dropdown-item" href="Offers">Offers</a>
                <a class="dropdown-item" href="Coupon">Coupon</a>
              </div>
            </li>
	        	<li class="nav-item"><a class="nav-item nav-link" style="color: white;" href="admins_logout">Logout</a></li>
	        	
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- <nav class="navbar navbar-expand-lg mb-2" style="height: 80px;background-color:rgb(36, 42, 48);">
      <a class="navbar-brand" href="#" style="color: white;padding : 30px;">Admin Panel</a>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          
        </div>
      </div>
      <div class="logout collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          
          <a class="nav-item nav-link" style="color: white;" href="admins_logout">Logout</a>
        </div>
      </div>
      <nav class="navbar navbar-light  ms-auto">
        <form method="post">
          {%csrf_token%}
          <div class="container h-100">
            <div class="d-flex justify-content-center h-100">
              <div class="searchbar">
                <input class="search_input" type="search" name="s" placeholder="Search By First Name">
                <a href="#" class="search_icon"><i class="fas fa-search"></button><img style="width: 20px ;"
                      src="https://cdn-icons-png.flaticon.com/512/149/149852.png" alt=""></button></i></a>
              </div>
            </div>
          </div>
        </form>
      </nav>
    </nav> -->
    {%block content%}
    {%endblock%}
    {%block js%}
    {%endblock%}
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/DataTables/datatables.css">
    <script type="text/javascript" charset="utf8" src="/DataTables/datatables.js"></script>
    <!-- <script src="{% static 'admin_nav/jquery.min.js'%}"></script> -->
    <script src="{% static 'admin_nav/popper.js'%}"></script>
    <script src="{% static 'admin_nav/bootstrap.min.js'%}"></script>
    <script src="{% static 'admin_nav/main.js'%}"></script>

  </body>
</html>