{%extends 'AdminBase.html'%}
{% load static %}
{%block content%}
	<style>
		.headding{
			
			position: relative;
			left:125px;
			width: 400px;
			height: 39px;
			border-bottom: 5px solid rgb(36, 42, 48);
			overflow: hidden;
			
		  }
		  
		  .headding span{
			
		   font-size: 23px;
		   font-family: Arial, Helvetica, sans-serif;
		   line-height: 31px;
		   background-color: rgb(36, 42, 48);
		   display: inline-block;
		   padding: 2px 20px;
		   overflow: hidden;
		   color: #ffffff;
		
		  }
		
		  .headding span:before{
			position: absolute;
			content: "";
			width: 95%;
			height: 100%;
			background: rgb(36, 42, 48);
			z-index: -1;
			transform: rotate(45deg);
		  }
	</style>

	<nav class="navbar">
		<div class="headding">
		  <span>Update Category</span>
		</div>
	</nav>

	<section>
		<div class="container mt-2 pt-2">	

			<form action="/admin/category_update/{{cat.id}}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<!-- 2 column grid layout with text inputs for the first and last names -->
				<div class="row mb-4">
					<div class="col">
						<div class="form-outline">
							<input type="text" name="name" id="form3Example1" value="{{cat.category_name}}" class="form-control" />
							<label class="form-label" for="form3Example1">Product Name</label>
						</div>
					</div>

				</div>

				<div class="form-outline mb-4">
					<input type="file" id="form3Example97" name="image" value="{{cat.cat_image}}" class="form-control form-control-lg" />
					<label class="form-label" for="form3Example97">Image</label>
				</div>
				<!-- CheckSubmit button -->
				<button type="submit" class="btn btn-primary btn-block mb-4">Add</button>

				<!-- Register buttons -->
			</form>
		</div>
	</section>
{%endblock%}