{%extends 'AdminBase.html'%}
{% load static %}
{%block content%}

<style>
  

  .insert_button{

    margin-right: 120px;
    

  }
 
  .headding{
    position: relative;
    
    width: 400px;
    height: 39px;
    border-bottom: 5px solid rgb(36, 42, 48);
    overflow: hidden;
    
  }
  
  .headding span{
   
   font-size: 23px;
   font-family: Arial, Helvetica, sans-serif;
   line-height: 31px;
   background-color: rgb(36, 42, 48);
   display: inline-block;
   padding: 2px 20px;
   overflow: hidden;
   color: #ffffff;

  }

  .headding span:before{
    position: absolute;
    content: "";
    width: 70%;
    height: 100%;
    background: rgb(36, 42, 48);
    z-index: -1;
    transform: rotate(45deg);
  }

  
  
  .buttons{
    background-color:  rgb(36, 42, 48); 
    color: white;
    border-radius: 15px;
  }



</style>
<div class="container">
  <nav class="navbar mb-4 mt-3">
    <div class="headding">
      <span>Dash Board</span>
    </div>
  </nav>
</div>
<section class="bg-light p-2 ">
  
  <div class="container">
      <div class="text-light row">
          <div class="col-md-3 col-6">
              <div class="p-3 card ">
                  <a class="nav-link text-light" href="admin_users">
                      <div style="box-shadow: 0px 0px 15px black;" class=" card-body bg-danger">
                          <h4 class="card-title font-weight-bold">User</h4>
                          <p class="card-text font-weight-bold">{{user_count}}+</p>
                      </div>
                  </a>
              </div>
          </div>
          <div class="col-md-3 col-6">
              <div class="p-3 card ">
                  <a class="nav-link text-light" href="order_details">
                      <div class="card-body bg-success" style="box-shadow: 0px 0px 15px black;">
                          <h4 class="card-title font-weight-bold">Orders</h4>
                          <p class="card-text font-weight-bold">{{order_count}}+</p>
                      </div>
                  </a>
              </div>
          </div>
          <div class="col-md-3 col-6">
              <div class="p-3 card ">
                  <a class="nav-link text-light " href="product_details">
                      <div class="card-body bg-warning" style="box-shadow: 0px 0px 15px black;">
                          <h4 class="card-title font-weight-bold">Products</h4>
                          <p class="card-text font-weight-bold">{{product.count}}+</p>
                      </div>
                  </a>
              </div>
          </div>
          <div class="col-md-3 col-6">
              <div class="p-3 card  ">
                  <a class="nav-link text-light" href="order_details">
                      <div class="card-body bg-info " style="box-shadow: 0px 0px 15px black;">
                          <h4 class="card-title font-weight-bold ">Delivered</h4>
                          <p class="card-text font-weight-bold">{{deliverd_count}}+</p>
                      </div>
                  </a>
              </div>
          </div>

      </div>
  </div>
</section>

<div class="container d-flex justify-content-center">
  <div class="col-md-6 h-50 bg-light rounded mt-5" style="width:50%; height:200px;">
    <h3 class="mt-3 fw-bold ms-3">Order - Total chart</h3>
    <hr>
    <canvas class="mt-3 " id="myChart1" width="0" height="200"></canvas>
    <script>
      var ctx = document.getElementById('myChart1').getContext('2d');
      var myChart1 = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: [{%for o in cart %}, '{{o.id}}', {% endfor %}],
      datasets: [{
        label: 'Grand Total',
        data: [{% for o in cart %}, '{{o.amount}}', {% endfor %}],
        backgroundColor: [
          'rgba(255, 99, 132, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
        ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
            borderWidth: 1
          }]
            },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
        });
    </script>
  </div>


  <div class="col-md-6 h-50 bg-light rounded mt-5 ms-1" style="width:50%; height:200px;">
    <h3 class="mt-3 fw-bold ms-3">Product - Stock chart</h3>
    <hr>
    <canvas class="mt-3 " id="myChart2" width="0" height="200"></canvas>
    <script>
      var ctx = document.getElementById('myChart2').getContext('2d');
      var myChart1 = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: [{% for product in product %} '{{product.product_name | truncatewords:1}}', {% endfor %}],
      datasets: [{
        label: 'Delivery Status',
        data: [{% for product in product %} {{ product.stock }}, {% endfor %}],
        backgroundColor: [
          'rgba(255, 99, 132, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
        ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
            borderWidth: 1
            }]
          },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
        });
    </script>
  </div>
  
</div>
<div class="d-flex justify-content-between pt-5">
  <div class="col-md-4 col-5 h-100 bg-light rounded mt-3 mx-auto p-3 " style="width:100%; height:200px;">
    <h3 class="mt-3 ms-3 d-flex font-weight-bold justify-content-center">Category - Stock chart</h3>
    <hr>
    <canvas class="mt-3 " id="myChart3" width="400" height="200"></canvas>
  
    <script>
      const ctx2 = document.getElementById('myChart3');
  
      new Chart(ctx2, {
        type: 'pie',
        data: {
          labels: [{% for category in categorys %} '{{category.category_name | truncatewords:1}}',  {% endfor %}],        //Chart x axis
        datasets: [{
          label: '# of Stock',
          data: [{% for c in cat_count %} {{ c }}, {% endfor %}],           //Chart Y axis
        backgroundColor: [
        'rgba(255, 99, 132, 0.8)',
        'rgba(54, 162, 235, 0.8)',
        'rgba(255, 206, 86, 0.8)',
        'rgba(75, 192, 192, 0.8)',
        'rgba(153, 102, 255, 0.8)',
        'rgba(255, 159, 64, 0.8)'
      ],
        borderColor: [
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
      ],
        borderWidth: 1
          }]
        },
        options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
      });
    </script>
  
  </div>
  
  <div class="col-md-4 col-5 h-100 bg-light rounded mt-3 mx-auto p-3 " style="width:100%; height:200px;">
    <h3 class="mt-3 ms-3 d-flex font-weight-bold justify-content-center">Category - Stock chart</h3>
    <hr>
    <canvas class="mt-3 " id="myChart4" width="400" height="200"></canvas>
  
    <script>
      const ctx3 = document.getElementById('myChart4');
  
      new Chart(ctx3, {
        type: 'pie',
        data: {
          labels: ['Cash', 'Razorepay', 'PayPal'],        //Chart x axis
          datasets: [{
            label: '# of Stock',
            data: [{{ cash }}, {{ Razor }},{{ PayPal }}],           //Chart Y axis
        backgroundColor: [
        'rgba(255, 99, 132, 0.8)',
        'rgba(54, 162, 235, 0.8)',
        'rgba(255, 206, 86, 0.8)',
        'rgba(75, 192, 192, 0.8)',
        'rgba(153, 102, 255, 0.8)',
        'rgba(255, 159, 64, 0.8)'
      ],
        borderColor: [
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
      ],
        borderWidth: 1
        }]
      },
        options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
    </script>
  
  </div>
</div>


{%endblock%}