{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>OTP Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{%static 'user_images/icons/favicon.ico' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'user_vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'user_fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'user_fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'user_vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'user_vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'user_vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'user_vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'user_vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'user_css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'user_css/main.css' %}">
<!--===============================================================================================-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

	<script type="text/javascript">
		var jQuery_1_7_1 = $.noConflict(true);
	</script>

	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<style>
	.or{
		text-align: center;
		padding: 5px;
	}
</style>

</head>

<body>
	
	<div class="limiter">
		<div class="container-login100" >
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form action = "number_check" class="login100-form validate-form" method="post">
					{%csrf_token%}
					<span class="login100-form-title p-b-49">
						Login
					</span>

					<div class=" validate-input m-b-23" data-validate = "Username is required">
						<div class="wrap-input100">
							<span class="label-input100 ">Phone Number</span>
							<input class="input100 mt-2" type="text" id="phone_number" name="phone_number" onkeyup="validateNumber()" placeholder="Type your Phone Number">
							<span class="focus-input100" data-symbol="&#xf2be;"></span>
						</div>
						<small id="number-error"></small>
					</div>

                    
					<div class="mt-5 mb-4 container-login100-form-btn"  > 
						<button  type="submit" class="btn btn-danger px-4 ">Verify Number</button>
					</div>
					
					
					<!-- <div class="text-right p-t-8 p-b-31">
						<a href="#">
							Forgot password?
						</a>
					</div> -->
					
					
					

					<!-- <div class="txt1 text-center p-t-54 p-b-20">
						<span>
							Or Sign Up Using
						</span>
					</div> -->

					<!-- <div class="flex-c-m">
						<a href="#" class="login100-social-item bg1">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="#" class="login100-social-item bg2">
							<i class="fa fa-twitter"></i>
						</a>

						<a href="#" class="login100-social-item bg3">
							<i class="fa fa-google"></i>
						</a>
					</div> -->

					<!-- <div class="flex-col-c m-t-25">
						<span class="txt1 p-b-17">
							New to Zeesho
						</span>

						<a href="signup" class="txt2 mb-3">
							Sign Up
						</a>
					</div> -->
					<!-- {% if messages %}
					<div class="alert alert-danger  "  role="alert">
						{% for message in messages %}
						<h3  style="font-size: 15px;text-align: center;">{{message}}</h3>
						{% endfor %}
					</div>
					{%endif%} -->
				</form>
				
			</div>
		</div>
	</div>
	
	
	<div id="dropDownSelect1"></div>
	<script>
		var numberError = document.getElementById('number-error');
		function validateNumber(){
			var number = document.getElementById('phone_number').value.trim();
			var num = number.replace(/[^\d]/g, '');
			console.log(num)
			if (num.length == 0) {
				numberError.innerHTML = 'Phone number is Required';
				numberError.style.color = 'red'
				return false;
			}
			if (num.length < 12 || num.length > 12) {
				numberError.innerHTML = 'Phone number is Invalid';
				numberError.style.color = 'red'
				return false;

			}

			numberError.innerHTML = 'Phone number is valid';
			numberError.style.color = 'green'
			return true;
			
	
	

		}
		jQuery_1_7_1(document).on("submit", "form", function (e) {
				validateNumber()
				if (validateNumber()) {
	
				} else {
					e.preventDefault();
					//swal('Invalid data! Ensure You have entered correct data');
					return true;
				}
			});
	</script>
	
<!--===============================================================================================-->
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<!-- <script src="{% static 'js/main.js' %}"></script> -->

</body>
</html>