{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{%static 'user_images/icons/favicon.ico' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'user_vendor/bootstrap/css/bootstrap.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'user_fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"
		href="{% static 'user_fonts/iconic/css/material-design-iconic-font.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'user_vendor/animate/animate.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'user_vendor/css-hamburgers/hamburgers.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'user_vendor/animsition/css/animsition.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'user_vendor/select2/select2.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'user_vendor/daterangepicker/daterangepicker.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'user_css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'user_css/main.css' %}">
	<!--===============================================================================================-->

	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript">
		var jQuery_1_7_1 = $.noConflict(true);
	</script>

	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


	<style>
		.or {
			text-align: center;
			padding: 5px;
		}

		a {
			text-decoration: none;
		}
	</style>

</head>

<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form action="login" class="login100-form validate-form" method="post">
					{%csrf_token%}
					<span class="login100-form-title p-b-49">
						Login
					</span>

					<div class=" validate-input m-b-23" data-validate="Username is required">
						<div class="wrap-input100">
							<span class="label-input100">Username</span>
							<input class="input100" type="text" id="name" name="username" onkeyup="validateName()"
								placeholder="Type your username">
							<span class="focus-input100" data-symbol="&#xf206;"></span>
						</div>
						<small id="name-error"></small>
					</div>

					<div class=" validate-input m-b-23" data-validate="Password is required">
						<div class="wrap-input100">
							<span class="label-input100">Password</span>
							<input class="input100" type="password" name="password1" id="password"
								onkeyup="validatePassword()" placeholder="Type your password">
							<span class="focus-input100" data-symbol="&#xf190;"></span>
						</div>
						<small id="password-error"></small>
					</div>

					<!-- <div class="text-right p-t-8 p-b-31">
						<a href="#">
							Forgot password?
						</a>
					</div> -->

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button type="submit" class="login100-form-btn">
								Login
							</button>
						</div>
					</div>

					<div class="flex-col-c m-t-25">
						<span class="txt1 p-b-17">
							New to Zeesho
						</span>

						<a href="signup" class="txt2 mb-">
							Sign Up
						</a>
					</div>

					<div class="flex-col-c m-t-25">
						<span class="txt1 p-b-17">
							Or login using <a href="number_check" class="mb-3">
								Phone Number
							</a>
						</span>


					</div>



					<!-- <div class="txt1 text-center p-t-54 p-b-20">
						<span>
							Or Sign Up Using
						</span>
					</div> -->

					<!-- <div class="flex-c-m">
						<a href="#" class="login100-social-item bg1">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="#" class="login100-social-item bg2">
							<i class="fa fa-twitter"></i>
						</a>

						<a href="#" class="login100-social-item bg3">
							<i class="fa fa-google"></i>
						</a>
					</div> -->
					{% if messages %}
					{% for message in messages %}
					<script>
						swal('{{message}}')
					</script>
					{% endfor %}
					{% endif %}


				</form>
				<div>

				</div>

			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

	<script>
		var nameError = document.getElementById('name-error');
		var passwordError = document.getElementById('password-error');

		function validateName() {
			var name = document.getElementById('name').value.trim();
			if (name.length == 0) {
				nameError.innerHTML = 'user name is required';
				nameError.style.color = 'red'
				return false;
			}
			//nameError.innerHTML = 'Name is valid';
			//nameError.style.color = 'green'
			return true;
		}
		function validatePassword() {
			var password = document.getElementById('password').value.trim();
			if (password.length == 0) {
				passwordError.innerHTML = 'Password is required';
				passwordError.style.color = 'red'
				return false;
			}
			//passwordError.innerHTML = 'password is valid';
			//passwordError.style.color = 'green'
			return true;
		}
		jQuery_1_7_1(document).on("submit", "form", function (e) {
			validateName()
			validatePassword()
			if (validateName() && validatePassword()) {
				console.log('hi if');
			} else {
				console.log('hi else');
				e.preventDefault();
				//swal('Invalid data! Ensure You have entered correct data');
				return true;
			}
		});
	</script>

	<!--===============================================================================================-->
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>

</body>

</html>